<!--로그 설정-->
<!--Logback은 SLF4J의 구현체로 널리 사용되는 로깅 프레임워크-->

<!-- logback-spring.xml -->
<configuration>
    <!-- 콘솔에 로그 출력 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 로그 파일에 로그 출력 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/mdggu.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 매일 새로운 로그 파일 생성 -->
            <fileNamePattern>logs/mdggu.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 로그 파일 최대 30개 보관 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- 기본 로그 레벨 설정 -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <!-- 특정 패키지에 대한 로그 레벨 설정 -->
    <logger name="com.mdggu" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>
</configuration>
